* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

table {
  border-collapse: collapse;
  font-size: 120px;
  text-align: center;
}

table td,
table th {
  border: 2px solid orange;
  width: 180px;
  height: 180px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

#header {
  font-size: 5vw;
}

#score {
  font-size: 3vw;
  margin: 40px 0;
}

button {
  width: 240px;
  background: none;
  border: none;
  font-size: 32px;
  color: white;
}

#button-wrapper {
  margin-top: 40px;
}
