#footer {
  border-top: #ddd solid 2px;
  background: #fff;
}

.footer-layer1 {
  border-bottom: #ddd solid 1px;
  height: 54px;
  text-align: center;
  padding-top: 15px;
  white-space: nowrap;
}

.footer-layer1 > a {
  display: inline-block;
  white-space: nowrap;
  padding: 0 14px;
  font-size: 12px;
  color: #555;
  height: 12px;
  border-left: #888 solid 1px;
}

.footer-layer2 {
  width: 1020px;
  height: 100px;
  margin: 30px auto;
  font-size: 12px;
  color: #555;
  line-height: 150%;
}

.footer-layer2 > h1 {
  float: left;
  width: 150px;
  background-image: none;
}

.footer-layer2 a {
  color: #555;
}

.footer-content > address {
  float: left;
  width: 260px;
}

.licensee {
  color: #555;
  text-decoration: underline;
}

.contact-info {
  float: left;
  width: 340px;
  color: #555;
}

.contact-info em {
  font-size: 24px;
  font-family: Tahoma;
  font-weight: bold;
  display: block;
  margin: 9px 0 11px 0;
}

.footer-layer4 {
  background: #333;
  height: 100%;
}

.coupang-copyright {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

.footer_new .coupang-copyright .info {
  padding: 21px 0 3px 0;
}

.coupang-copyright p {
  color: #888;
  font-size: 11px;
}

.sns-link {
  position: absolute;
  top: 23px;
  right: 0;
}

.facebook {
  background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png)
    no-repeat;
  background-position: -220px -30px;
  width: 34px;
  height: 34px;
  margin-right: 8px;
  display: block;
  overflow: hidden;
  text-indent: -99em;
}

.blog {
  background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png)
    no-repeat;
  background-position: -348px -30px;
  display: block;
  overflow: hidden;
  width: 34px;
  height: 34px;
  margin-right: 8px;
  text-indent: -99em;
  text-decoration: none;
}

.sns-link > li {
  float: left;
}

.instagram {
  display: block;
  overflow: hidden;
  background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png)
    no-repeat;
  text-indent: -99em;
  width: 34px;
  height: 34px;
  margin-right: 8px;
  background-position: -390px -30px;
}
